.blumine {
  --blumine-DEFAULT: "#1F4690";
  --blumine-50: "#82A4E4";
  --blumine-100: "#7298E1";
  --blumine-200: "#507FD9";
  --blumine-300: "#2E67D2";
  --blumine-400: "#2656B2";
  --blumine-500: "#1F4690";
  --blumine-600: "#153062";
  --blumine-700: "#0B1934";
  --blumine-800: "#010306";
  --blumine-900: "#000000";
}
